    [MESSAGES CONTROL]
  disable= 
    wildcard-import,
    method-hidden,
    too-many-lines,
    missing-module-docstring,invalid-name,
    import-error,
    singleton-comparison,
    broad-exception-caught,
    unused-variable,
    unused-argument,
    wrong-import-order